<!DOCTYPE html>
<html ng-app="keyboardApp" class="ng-scope">
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<title>Guess my words</title>
	</head>
<body ng-controller="guessController">
	<header>
	   	<nav class="navbar navbar-default">
	        <div class="container">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="/">Guess my words</a>
	            </div>

	            <ul class="nav navbar-nav navbar-right">
	                <!-- <li><a href="#who"><i class="glyphicon glyphicon-user"></i>Guess!</a></li> -->
	            </ul>
	        </div>
	    </nav>
	</header>

	<div class="container">
		<div class="jumbotron" id="input">
		    <div class="btn btn-success" ng-click="toggleShow()" class="pull-right">{{hideShowText}}</div>
      		<input ng-show="showInput" type="text" placeholder="Type here" class="form-control input-md" ng-model="sentence" ng-change="renderSentence()">
	    </div>
	
		<div class="row">
				<div id="blocked"></div>
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script src="app.js"></script>

</body>
</html>