<!DOCTYPE html>
<html ng-app="keyboardApp" class="ng-scope">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Silhouette words</title>
</head>
<body ng-controller="guessController">
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Guess my words</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#who"><i class="glyphicon glyphicon-user"></i>Guess!</a></li> -->
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="jumbotron" id="input">
        <div class="btn btn-success" ng-click="toggleShow()" class="pull-right">{{hideShowText}}</div>
        <textarea ng-show="showInput" type="text" placeholder="Type here" class="form-control input-md"
                  ng-model="sentence" ng-change="renderSentence()"></textarea>
    </div>


    <div class="row">
        <h1>
            <div id="blocked"></div>
        </h1>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="app.js"></script>

<a href="https://github.com/nilsmagnus/nilsmagnus.github.io"><img
        style="position: absolute; top: 0; right: 0; border: 0;"
        src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
        alt="Fork me on GitHub"
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</body>
</html>