.letter{
	border: solid 1px black;
}

.upperCase{
	display: inline-block;
    min-width: 40px;
    min-height: 40px;
    margin-right: 3px;
}


.nonLetter{
	display: inline-block;
    margin-right: 3px;
    min-width: 20px;
}

.lowLetter{
	position: relative;
    bottom: -20px;
	display: inline-block;
    margin-right: 3px;
   	min-width: 20px;
    min-height: 40px;
 }

.highLetter{
	display: inline-block;
    margin-right: 3px;
   	min-width: 20px;
    min-height: 40px;
 }

 .highLowLetter{
	position: relative;
    bottom: -20px;
	display: inline-block;
    margin-right: 3px;
   	min-width: 20px;
    min-height: 60px;
 }

.lowerCase{
	display: inline-block;
    margin-right: 3px;
   	min-width: 20px;
    min-height: 20px;
 
}


