.letter {
    margin-top: 20px;
    border: solid 1px black;
    margin-right: 3px;
}

.upperCase {
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
}

.nonLetter {
    display: inline-block;
    min-width: 10px;
    font-size: 55px;
}

.lowLetter {
    position: relative;
    bottom: -20px;
    display: inline-block;
    min-width: 20px;
    min-height: 40px;
}

.highLetter {
    display: inline-block;
    min-width: 20px;
    min-height: 40px;
}

.highLowLetter {
    position: relative;
    bottom: -20px;
    display: inline-block;
    min-width: 20px;
    min-height: 60px;
}

.lowerCase {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
}

.word{
    display: inline-block;
}


